*{
    box-sizing: border-box;
}
body{
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#calculator{
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#displayCal{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    font: 2.5rem bold;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0,0%,30%);
    color: white;
    cursor: pointer;
    transition: all 1s linear;
}
button:hover{
    background-color: hsl(50, 100%, 40%);
}
button:active{
    background-color: hsl(50, 100%, 60%);
}
